---
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout pageTitle="Home">
  <h1>goofy ahh astro site</h1>
  <p>now with layouts!</p>
  <p>this is more intuitive than hugo</p>
</BaseLayout>