---
import BaseLayout from "../layouts/BaseLayout.astro"
import Gallery from "../components/interactive/Gallery.svelte";
import * as gallery from "./worksList"
---

<BaseLayout pageTitle="works" display="full-screen" backgroundStyle="#292929">
  <Gallery kind="image" title="Illustration" elements={gallery.illust} client:idle/>
  <Gallery kind="image" title="Design" elements={gallery.design} client:idle/>
  <Gallery kind="youtube" title="Motion" elements={gallery.motion} client:idle/>
  <Gallery kind="soundcloud" title="Music" elements={gallery.songs} client:idle/>
  
  <!-- cheeky empty unicode div to add dynamic bottom padding  -->
  <div id="shh">⠀</div>
</BaseLayout>
<style>
  #shh {
    user-select: none;
  }
</style>