---
import '../styles/global.css'
import Navigation from '../components/Navigation.astro'

// declare default props inside the destructure thing
// also maybe multi line the declaration for multiple props maybe cool?
const {
    pageTitle = 'no title',
    //anotherProp = 69,
    //ohBoyAnotherOne
} = Astro.props
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style>
        h1 {
            text-align: center;
        }
    </style>
  </head>
  <body>
    <Navigation />
    <h1>{pageTitle}</h1>
    <slot />
  </body>
</html>