---
import BaseLayout from "./BaseLayout.astro"
import BackButton from "../components/BackButton.astro"

// props for .md files are stuff inside the fence. which is its YAML
const { frontmatter } = Astro.props
const bg = frontmatter.thumbnail
---

<BaseLayout
  display="block"
  pageTitle={frontmatter.title}
  backgroundStyle="rgb(0,0,0)"
  description={frontmatter.description}
>
  <div id="bg"></div>
  <div id="content" class="text-shadow">
    <div id="header" class="text-shadow">
      <h1>{frontmatter.title}</h1>
      <h2>by {frontmatter.author} on {frontmatter.pubDate.slice(0, 10)}</h2>
    </div>
    <slot />
  </div>
  <BackButton link="/blog" />
</BaseLayout>

<style define:vars={{ bg }} is:global>
  /*
    the CSS for the table and codeblocks are FUCKED
	
    [todo) set proper css for tables and codeblocks
    [todo) change the "body" size to be 80ch maximum
  */
  
  
  #bg {
    content: " ";
    display: block;
    position: fixed;
    opacity: 0.5;
    filter: blur(5px);

    background: var(--bg) no-repeat center / cover;

    transition: width 0.5s ease, height 0.5s ease;
  }

  :not(#bg) {
    z-index: 1;
  }

  #header {
    background-color: rgba(255, 255, 255, 0.342);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: solid rgba(255, 255, 255, 0.24);
    border-width: 3px 3px 3px 3px;
    margin-bottom: 2rem;
  }

  a {
    background: linear-gradient(
      0deg,
      rgba(177, 191, 235) 0%,
      rgba(177, 191, 235) 9%,
      rgba(0, 0, 0, 0) 9%
    );
    background-repeat: no-repeat;

    transition: background-size 0.4s ease-out;
    background-position: right;
    background-size: 0%;
    transition-delay: 0.1s;
  }

  a:hover {
    background-size: 100%;
    transition: background-size 0.2s ease-out;
    background-position: left;
  }

  p:has(img) {
    text-align: center;
  }

  img {
    max-width: 100%;
    max-height: 80vh;
  }

  #content {
    max-width: 80ch;
    margin: auto;
  }

  .yt {
    margin: 1.5rem;
    margin-top: 0rem;
    display:none;
  }

  table {
    margin: 1.5rem;
    margin-top: 0;
    border-collapse: collapse;
    background: #000000a1;
  }

  td, th {
    padding: 0.5rem;
    border: 2px solid #000000aa;
    border-style: solid;
  }

  blockquote {
    background-color: #000000a1;
    margin: 1rem;
    margin-top: 0;
  }

  @media only screen and (max-width: 480px) {
    /* hacky compact table layout because MOBILE SUCKS */

    table {
      font-size: 0.8rem;
    }

    td, th {
      padding: 0.25rem;
    }
  }

</style>

<script>
  const images = document.querySelectorAll("img")
  for (const image of images) {
    image.classList.add("shadow")

    image.insertAdjacentHTML("afterend", "<br/>")
  }

  const margin = 40
  const background = document.querySelector<HTMLElement>("#bg")!

  const backgroundReset = () => {
    background.style.height = innerHeight + margin + "px"
    background.style.width = innerWidth + margin + "px"
    background.style.top = `-${margin / 2}px`
    background.style.left = `-${margin / 2}px`
  }
  backgroundReset()

  window.addEventListener("resize", () => {
    backgroundReset()
  })
</script>
